In [59]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
import statsmodels.api as sm
from statsmodels.formula.api import glm, ols

In [103]:
regress_data = pd.read_csv(open("./startups/regress_features.csv", 'rU'), encoding='utf-8', engine='c')
regress_data = regress_data.drop('Unnamed: 0', 1)
regress_data['i_Series_A'] = 1 * (regress_data.Series == 'Series_A')
regress_data['i_Series_B'] = 1 * (regress_data.Series == 'Series_B')
regress_data['i_Series_C'] = 1 * (regress_data.Series == 'Series_C')
regress_data['i_Series_D'] = 1 * (regress_data.Series == 'Series_D')
itrain, itest = train_test_split(xrange(regress_data.shape[0]), train_size=0.9)
mask=np.ones(regress_data.shape[0], dtype='int')
mask[itrain]=1
mask[itest]=0
mask=(mask==1)
regress_train = regress_data[mask]
regress_test = regress_data[~mask]
regress_train.head()

,Avg_Tweets,Company,Series,Total_Likes,Total_Retweets,Series_Amount,Market,i_Series_A,i_Series_B,i_Series_C,i_Series_D
0,16.384615,1stdibs,Series_C,230,134,15000000,Semiconductors,0,0,1,0
1,1.603960,2tor,Series_C,10,32,32500000,NaN,0,0,1,0
2,163.000000,365Scores,Series_B,15,23,5500000,Apps,0,1,0,0
3,2.109756,36Kr,Series_C,58,21,20000,Startups,0,0,1,0
4,0.696850,6fusion,Series_B,2,28,7000000,Hardware + Software,0,1,0,0

In [104]:
regress_train_B = regress_train[regress_train['Series'] == 'Series_D']
X = regress_train_B[['Avg_Tweets', 'Total_Likes', 'Total_Retweets', 'i_Series_A', 'i_Series_B', 'i_Series_C', 'i_Series_D']]
X = X.replace([np.inf, -np.inf], 0)
y = regress_train_B['Series_Amount']
est = sm.GLM(y, X)
est = est.fit()
est.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:          Series_Amount   No. Observations:                   89
Model:                            GLM   Df Residuals:                       85
Model Family:                Gaussian   Df Model:                            3
Link Function:               identity   Scale:               1.63564138625e+14
Method:                          IRLS   Log-Likelihood:                -1580.6
Date:                Sun, 06 Dec 2015   Deviance:                   1.3903e+16
Time:                        02:54:44   Pearson chi2:                 1.39e+16
No. Iterations:                     4
==================================================================================
                     coef    std err          z      P>|z|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------
Avg_Tweets     -3239.5109   2.82e+04     -0.115      0.908     -5.84e+04   5.2e+04
Total_Likes     2.836e+04   3.46e+04      0.819      0.413     -3.95e+04  9.63e+04
Total_Retweets  4.193e+04   4.47e+04      0.938      0.348     -4.57e+04   1.3e+05
i_Series_A              0          0        nan        nan             0         0
i_Series_B              0          0        nan        nan             0         0
i_Series_C              0          0        nan        nan             0         0
i_Series_D      1.364e+07   2.22e+06      6.142      0.000      9.29e+06   1.8e+07
==================================================================================
"""

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:          Series_Amount   No. Observations:                  460
Model:                            GLM   Df Residuals:                      456
Model Family:                Gaussian   Df Model:                            3
Link Function:               identity   Scale:               8.23451715997e+13
Method:                          IRLS   Log-Likelihood:                -8020.3
Date:                Sun, 06 Dec 2015   Deviance:                   3.7549e+16
Time:                        02:47:14   Pearson chi2:                 3.75e+16
No. Iterations:                     4
==================================================================================
                     coef    std err          z      P>|z|      [95.0% Conf. Int.]
----------------------------------------------------------------------------------
Avg_Tweets      6307.9715   8983.503      0.702      0.483     -1.13e+04  2.39e+04
Total_Likes     3.936e+04   8810.042      4.467      0.000      2.21e+04  5.66e+04
Total_Retweets   104.7983   1.21e+04      0.009      0.993     -2.37e+04  2.39e+04
i_Series_A              0          0        nan        nan             0         0
i_Series_B       9.66e+06    6.7e+05     14.426      0.000      8.35e+06   1.1e+07
i_Series_C              0          0        nan        nan             0         0
i_Series_D              0          0        nan        nan             0         0
==================================================================================
"""

In [95]:
len()

460

In [58]:
y

0       15000000
1       32500000
2        5500000
3          20000
4        7000000
5       12000000
6       10100000
7        3000000
8        6000000
9        2050000
10       4700000
11      24500000
12      10000000
13      15000000
14       5300000
15       6150000
16       4520000
17       3000000
18      50000000
19       3200000
20       3200000
21      20500000
22      38000000
23      34000000
24       5700000
25      38000000
26      25000000
27       9000000
28       8000000
29      26500000
          ...
1180     5000000
1181    24000000
1182    20000000
1183    60000000
1184     6000000
1185     6500000
1186     2600000
1187     2000000
1188     4000000
1189    19000000
1190    20000000
1191    17000000
1192    31400000
1193    55300000
1194    18500000
1195     3700000
1196    11100000
1197     1000000
1198    20000000
1199    24000000
1200     6000000
1201    12000000
1202     4900000
1203    15000000
1204     3700000
1205    12200000
1206     7000000
1207    14500000
1208    23000000
1209     1500000
Name: Series_Amount, dtype: int64

In [64]:
from sklearn.linear_model import LinearRegression

In [66]:
regress_data[]

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

,Avg_Tweets,Total_Likes,Total_Retweets,i_Series_A,i_Series_B,i_Series_C,i_Series_D
0,16.384615,230,134,0,0,1,0
1,1.603960,10,32,0,0,1,0
2,163.000000,15,23,0,1,0,0
3,2.109756,58,21,0,0,1,0
4,0.696850,2,28,0,1,0,0
5,4.479167,42,43,1,0,0,0
6,7.750000,20,46,0,1,0,0
7,0.467470,18,54,1,0,0,0
8,0.437346,17,52,0,1,0,0
9,0.738938,11,6,1,0,0,0
10,0.364286,4,0,1,0,0,0
11,69.666667,16,67,0,0,1,0
12,4.564103,42,71,0,0,1,0
13,1.301471,7,42,0,0,1,0
14,1.177305,16,13,0,0,1,0
15,0.552870,8,6,0,1,0,0
16,0.343003,2,0,0,1,0,0
17,0.602076,24,54,0,1,0,0
18,1.226190,163,112,0,1,0,0
19,196.000000,37,93,1,0,0,0
20,105.000000,101,109,0,1,0,0
21,0.000000,11,61,1,0,0,0
22,0.000000,92,109,0,1,0,0
23,0.000000,123,122,0,0,1,0
24,2.094595,12,54,0,1,0,0
25,0.769912,29,15,0,0,1,0
26,2.225352,58,58,0,1,0,0
27,10.095238,8,0,0,0,1,0
28,2.236111,41,99,0,1,0,0
29,4.047619,107,85,0,0,0,1
...,...,...,...,...,...,...,...
1180,1.113514,32,40,0,1,0,0
1181,0.000000,7,25,0,1,0,0
1182,21.777778,56,43,0,0,1,0
1183,33.333333,48,56,0,0,0,1
1184,1.030120,30,96,1,0,0,0
1185,0.855140,18,67,0,1,0,0
1186,0.000000,27,64,0,0,0,1
1187,0.000000,70,101,1,0,0,0
1188,0.000000,204,117,0,1,0,0
1189,0.445175,1,0,0,0,1,0
1190,9.428571,3,0,0,1,0,0
1191,214.000000,21,72,0,0,0,1
1192,15.833333,26,104,0,1,0,0
1193,19.400000,98,107,0,0,1,0
1194,0.208195,7,19,1,0,0,0
1195,10.600000,43,73,1,0,0,0
1196,20.800000,94,103,0,1,0,0
1197,25.142857,5,18,1,0,0,0
1198,8.100000,21,39,0,1,0,0
1199,2.324324,45,51,0,0,1,0
1200,2.897059,4,5,0,1,0,0
1201,17.750000,1,13,0,0,1,0
1202,0.187424,21,53,0,0,1,0
1203,0.000000,2,8,0,0,0,1
1204,1.000000,14,42,1,0,0,0
1205,2.337349,24,105,0,1,0,0
1206,10.294118,11,27,0,1,0,0
1207,8.428571,11,25,0,0,1,0
1208,19.600000,53,32,0,0,0,1
1209,0.316770,59,70,0,0,0,1